<form onSubmit="doSearch(event)">
    <input id="searchText" type='text'/>
    <input type='button' value='search'>
</form>

<script>
    function doSearch(event) {
        event.preventDefault();
        var searchText = document.getElementById("searchText").value;
        window.location.assign("http://localhost:5000/videos/search?tag="+searchText);
    }
</script>