<html>
    <head>
        <% include('header.ejs') %>
    </head>
    <body>
        <div>
            <%- video.iframe %>
            <div><span><%= video.title %></span></div>
        </div>
    </body>
     <% include('footer.ejs') %>
</html>